*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header section below */

.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.navbar,
.intro {
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: #e5e7eb;
}

.navbar {
    padding-top: 16px;
}

.intro {
    padding: 120px 0px;
    gap: 60px;
}

.copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.intro button {
    background-color: #3882f6;
    padding: 8px 20px;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-weight: bold;
    margin-top: 10px
}

ul {
    list-style: none;
    display: flex;
    gap: 18px;
    margin: 0px;
    padding: 0px;
}

.body,
a {
    font-size: 18px;
    color: #e5e7eb;
}


a {
    text-decoration: none;
}

.intro img {
    width: 400px;
    height: 200px;
    object-fit: cover;
    object-position: 20% 43%;
    flex-shrink: 0;
}

/* Info section below */

.info,
.container {
    display: flex;
}

.info {
    flex-direction: column;
    align-items: center;
    padding: 60px;
}

.header2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.container {
    gap: 18px;
    padding: 30px;
}

.one,
.two,
.three,
.four {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    font-size: 12px;
    gap: 10px;
}

.info img {
    border-radius: 20px;
    border-style: solid;
    border-color: #3882f6;
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
}

/* Testimonial section below */

.testimonial {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: center;
    text-align: center;
}

.quote {
    font-size: 36px;
    font-weight: light italic;
    color: #1f2937;
}

.quotee {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    justify-content: flex-end;
}

/* CTA section below */

